.repo{
    border: 2px solid black;
    border-radius: 22px;
    background-color: aliceblue;
    margin: 3px;

}

p{
   
    font-weight: 400;
    font-size: 14px;
}
form{
    
    margin-bottom: 3rem;
    
}
input{
    width: 20vw;
    height: 5.5vh;
   
}
